/* style for dodge skill grid */
.sheet-rq35-dodge {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: minmax(70px, 8%) repeat(4, minmax(90px, 10%)) minmax(70px, 8%) minmax(70px, 8%) minmax(90px, 10%) minmax(100px, 12%) minmax(100px, 12%);
    grid-template-rows: auto;
}

.sheet-rq35-dodge  input[type="text"] {
    margin-left: auto;
    margin-right: auto;
}
.sheet-rq35-dodge  input[type="number"] {
    margin-left: auto;
    margin-right: auto;
}
.sheet-rq35-dodge button {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 16px;
    height: 22px;
}
.sheet-rq35-dodge label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-dodge input {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
