/* style for melee combat grid */
.sheet-rq35-combat {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: 45px minmax(120px, 26%) 60px 60px repeat(3, minmax(60px, 12%)) 45px minmax(55px, 12%) minmax(55px, 12%) minmax(55px, 12%) 50px 45px 45px 45px;
    grid-template-rows: auto;
}
.sheet-rq35-combat div.repcontainer {
    grid-column-start: 1;
    grid-column-end: 16;
}
.sheet-rq35-combat div.repcontainer div.repitem {
    display: inline-grid;
    min-width: 860px;
    width: 100%;
    grid-template-columns: 45px minmax(120px, 26%) 60px 60px repeat(3, minmax(60px, 12%)) 45px minmax(55px, 12%) minmax(55px, 12%) minmax(55px, 12%) 50px 45px 45px 45px;
    grid-template-rows: auto;
}
.sheet-rq35-combat div.repcontainer input[type="checkbox"] {
    margin: 5px 0 10px 0;
    width: 45px;
}
.sheet-rq35-combat div.repcontainer input[type="text"] {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
}
.charsheet .sheet-rq35-combat div.repcontainer button {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
}
.sheet-rq35-combat label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-combat input {
    margin-left: auto;
    margin-right: auto;
}
.sheet-rq35-combat button {
    margin-left: auto;
    margin-right: auto;
}
/* combat multiline display */
div.repcontrol {
    grid-column-start: 1;
    grid-column-end: span 15;
    padding: 10px 20px 5px 20px;
}
div.sheet-navigation {
    display: inline-grid;
    grid-template-columns: 1px repeat(10, 87px) 1px;
}

