/* style for missile grid */
.sheet-rq35-missile {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: 45px minmax(130px, 36%) 87px 100px minmax(70px, 20%) minmax(80px, 22%) minmax(75px, 21%) repeat(3, 90px);
    grid-template-rows: auto;
}
.sheet-rq35-missile div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 10;
}
.sheet-rq35-missile div.repitem {
    display: inline-grid;
    min-width: 860px;
    width: 100%;
    grid-template-columns: 45px minmax(130px, 36%) 87px 100px minmax(70px, 20%) minmax(80px, 22%) minmax(75px, 21%) repeat(3, 90px);
    grid-template-rows: auto;
}
.charsheet .sheet-rq35-missile label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px;
}
.charsheet .sheet-rq35-missile input {
    margin-left: auto;
    margin-right: auto;
}
.charsheet .sheet-rq35-missile div.repcontainer button {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
}
/* modifier buttons */
div.sheet-rq35-missile div.repcontrol {
    grid-column-start: 1;
    grid-column-end: span 10;
    padding: 10px 20px 5px 20px;
}
