/* style for dragon spells grid */
.sheet-rq35-dragon-spells {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: minmax(120px, 24%) repeat(4, minmax(100px, 19%)) 70px 70px 70px 70px 60px;
    grid-template-rows: auto;
}
.sheet-rq35-dragon-spells div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 11;
}
.sheet-rq35-dragon-spells div.repcontainer div.repitem {
    display: inline-grid;
    min-width: 860px;
    width: 100%;
    grid-template-columns: minmax(120px, 24%) repeat(4, minmax(100px, 19%)) 70px 70px 70px 70px 60px;
    grid-template-rows: auto;
}
.sheet-rq35-dragon-spells div.repcontainer button {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
}
.sheet-rq35-dragon-spells label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-dragon-spells input {
    margin-bottom: 5px;
}
/* dragon-spells multiline display */
.sheet-rq35-dragon-spells div.repcontrol {
    grid-column-start: 1;
    grid-column-end: span 11;
    padding: 10px 20px 5px 20px;
}
.charsheet .sheet-rq35-dragon-spells div.repcontainer button {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
    height: 21px;
}
.charsheet .sheet-rq35-dragon-spells div.repcontainer input[type="checkbox"] {
    margin-left: auto !important;
    margin-right: auto !important;
}