.sheet-rqskills-main {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    grid-template-columns:  minmax(420px, 49%) minmax(20px, 2%) minmax(420px, 49%);
    grid-template-rows: auto;
}
.sheet-rqskills-left {
    display: inline-grid;
    min-width: 420px;
    width: 100%;
    grid-column-start: 1;
}
.sheet-rqskills-right {
    display: inline-grid;
    min-width: 420px;
    width: 100%;
    grid-column-start: 3;
}
.sheet-rq35-skills {
    display: grid;
    min-width: 420px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: 40px minmax(110px, 37%) repeat(3, minmax(60px, 21%)) 45px 45px;
    grid-template-rows: auto;
}
.charsheet .sheet-rq35-skills label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 11px;
}
.sheet-rq35-skills div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 7;
}
.sheet-rq35-skills div.repitem
{
    display: inline-grid;
    min-width: 420px;
    width: 100%;
    grid-template-columns: 40px minmax(110px, 37%) repeat(3, minmax(60px, 21%)) 45px 45px;
    grid-template-rows: auto;
}
.sheet-rq35-skills div.sheet-fixeditem
{
    display: inline-grid;
    min-width: 420px;
    width: 100%;
    grid-template-columns: 40px minmax(110px, 37%) repeat(3, minmax(60px, 21%)) 45px 45px;
    grid-template-rows: repeat(6, 34px);
    grid-column-start: 1;
    grid-column-end: span 7;
}
.charsheet .sheet-rq35-skills label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px;
}
.charsheet .sheet-rq35-skills input {
    margin-left: auto;
    margin-right: auto;
}
.sheet-rq35-skills div.repcontainer input[type="text"],
.sheet-rq35-skills div.sheet-fixeditem input[type="text"]
{
    margin-left: auto;
    margin-right: auto;
}
.sheet-rq35-skills div.sheet-fixeditem input {
    margin-bottom: 6px;
}
.charsheet .sheet-rq35-skills div.repcontainer button,
.charsheet .sheet-rq35-skills div.sheet-fixeditem button {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
}
.charsheet .sheet-rq35-skills div.sheet-fixeditem button {
    margin-bottom: 6px !important;
}

/* modifier buttons */
div.sheet-rq35-skills div.repcontrol {
    grid-column-start: 1;
    grid-column-end: span 6;
    padding: 10px 10px 5px 10px;
}