/* style for spirit skills grid */
.sheet-rq35-magic-points {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: minmax(134px, 16%) repeat(6 ,minmax(121px,14%));
    grid-template-rows: auto;
}
.sheet-rq35-magic-points label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-magic-points input {
    margin: 0 auto 5px auto;
}
.sheet-rq35-magic-points button {
    width: 16px;
    height: 21px;
    margin: auto !important;
}