.charsheet .sheet-rq35 {
  background: white;
  color: black;
  font-size: 13px;
  line-height: 13px;
  margin: 0;
  overflow: visible;
  padding: 0;
}
.charsheet p {
    margin: 20px 0 0 10px;
    color: #32a1ce;
}
.sheet-rq35-title {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns:
            [label-a] 8% [value-a] 15% [label-b] 8% [value-b] 15%
            [label-c] 10% [value-c] 15% [label-d] 10% [value-d] 15%;
    grid-template-rows: 3fr;
    padding: 5px 0;
}
.sheet-rq35-title label {
    color: #5e5e5e;
    padding-top: 5px;
    text-align: right;
    font-size: 11px;
    font-weight: bold;
    width: 90px;
}
.sheet-rq35-title input {
    align-self: center;
    min-width: 129px;
    width: 100%;
}
.center {
    text-align: center!important;
}
.red {
    color: #ce3232 !important;
}
.green {
    color: limegreen !important;
}
input[type="text"].flex {
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
input[type="number"].flex {
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
input[type="text"].flex-left {
    width: 95% !important;
    margin-left: 0;
    margin-right: auto;
}
input[type="number"].flex-left {
    width: 95% !important;
    margin-left: 0;
    margin-right: auto;
}
input[type="text"].flex-right {
    width: 95% !important;
    margin-left: auto;
    margin-right: 0;
}
input[type="number"].flex-right {
    width: 95% !important;
    margin-left: auto;
    margin-right: auto;
}
div.repcontainer input[type="checkbox"] {
    margin: 5px 0 10px 0 !important;
    width: 45px !important;
}