/* style for elementals grid */
.sheet-rq35-equipment {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: minmax(100px, 12%) minmax(280px, 32%) minmax(100px, 12%) minmax(100px, 12%) minmax(280px, 32%);
    grid-template-rows: auto;
}
.sheet-rq35-equipment div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 5;
}
.sheet-rq35-equipment div.repcontainer div.repitem {
    display: inline-grid;
    min-width: 860px;
    width: 100%;
    grid-template-columns: minmax(100px, 12%) minmax(280px, 32%) minmax(100px, 12%) minmax(100px, 12%) minmax(280px, 32%);
    grid-template-rows: auto;
}
.sheet-rq35-equipment label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-equipment input {
    margin-left: auto;
    margin-right: auto;
}
/* sorcery-spells multiline display */
.sheet-rq35-equipment div.repcontrol {
    grid-column-start: 1;
    grid-column-end: span 8;
    padding: 10px 20px 5px 20px;
}
.charsheet .sheet-rq35-equipment div.repcontainer button {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
}