/* style for gems / jewellery grid */
.sheet-rq35-gems {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: minmax(90px, 10%) minmax(165px, 20%) minmax(165px, 20%) 20px minmax(90px, 10%) minmax(165px, 20%) minmax(165px, 20%);
    grid-template-rows: auto;
}
.sheet-rq35-gems div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 7;
}
.sheet-rq35-gems div.repcontainer div.repitem {
    display: inline-grid;
    min-width: 860px;
    width: 100%;
    grid-template-columns: minmax(90px, 10%) minmax(165px, 20%) minmax(165px, 20%) 20px minmax(90px, 10%) minmax(165px, 20%) minmax(165px, 20%);
    grid-template-rows: auto;
}
.sheet-rq35-gems label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-gems input {
    margin-bottom: 5px;
}
/* dragon held spells multiline display */
.sheet-rq35-gems div.repcontrol {
    grid-column-start: 1;
    grid-column-end: span 7;
    padding: 10px 20px 5px 20px;
}
.charsheet .sheet-rq35-gems div.repcontainer button {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
}