/* style for money grid */
.sheet-rq35-money {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: minmax(75px, 11%) repeat(3, minmax(115px, 13%)) 20px minmax(75px, 11%) minmax(115px, 13%) minmax(115px, 13%) minmax(115px, 13%);
    grid-template-rows: auto;
}
.sheet-rq35-money div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 9;
}
.sheet-rq35-money div.repcontainer div.repitem {
    display: inline-grid;
    min-width: 860px;
    width: 100%;
    grid-template-columns: minmax(75px, 11%) repeat(3, minmax(115px, 13%)) 20px minmax(75px, 11%) minmax(115px, 13%) minmax(115px, 13%) minmax(115px, 13%);
    grid-template-rows: auto;
}
.sheet-rq35-money button {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 22px;
}
.sheet-rq35-money label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-money input {
    margin-bottom: 5px;
}
/* dragon held spells multiline display */
.sheet-rq35-money div.repcontrol {
    grid-column-start: 1;
    grid-column-end: span 9;
    padding: 10px 20px 5px 20px;
}
