/* style for attributes grid */
.sheet-rq35-attributes {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: repeat(4, minmax(125px, 14%) minmax(80px, 10%));
    grid-template-rows: repeat(2, 3em);
    padding: 5px 0;
}
.sheet-rq35-attributes input {
    min-width: 90px;
    width: 80% !important;
    align-self: center;
    margin-left: 5px;
}
.sheet-rq35-attributes input[type="text"] {
    min-width: 46px;
    max-width: 80% !important;
    align-self: center;
}
.sheet-rq35-attributes label {
    color: #5e5e5e;
    text-align: right;
    padding-top: 10px;
    font-weight: bold;
    font-size: 11px;
}
