/* style for sorcery skills grid */
.sheet-rq35-sorcery-skills {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: minmax(170px, 32%) minmax(96px, 18%) minmax(96px, 18%) minmax(166px, 32%) repeat(2, 166px);
    grid-template-rows: auto;
}
.sheet-rq35-sorcery-skills div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 6;
}
.sheet-rq35-sorcery-skills div.repcontainer div.repitem {
    display: inline-grid;
    min-width: 860px;
    width: 100%;
    grid-template-columns: minmax(170px, 32%) minmax(96px, 18%) minmax(96px, 18%) minmax(166px, 32%) repeat(2, 166px);
    grid-template-rows: auto;
}
.sheet-rq35-sorcery-skills button {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 16px;
    height: 22px;
}
.sheet-rq35-sorcery-skills label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-sorcery-skills input {
    margin-bottom: 5px;
}
