/* style for sorcery spells grid */
.sheet-rq35-sorcery-spells {
    display: grid;
    min-width: 860px;
    width: 100%;
    background: #fff;
    border: thick double #32a1ce;
    grid-template-columns: 70px minmax(150px, 23%) repeat(4, minmax(75px, 11%)) minmax(145px, 22%) minmax(75px, 11%) 60px 60px;
    grid-template-rows: auto;
}
.sheet-rq35-sorcery-spells div.repcontainer {
    grid-column-start: 1;
    grid-column-end: span 10;
}
.sheet-rq35-sorcery-spells div.repcontainer div.repitem {
    display: inline-grid;
    min-width: 860px;
    width: 100%;
    grid-template-columns: 70px minmax(150px, 23%) repeat(4, minmax(75px, 11%)) minmax(145px, 22%) minmax(75px, 11%) 60px 60px;
    grid-template-rows: auto;
}
.sheet-rq35-sorcery-spells label {
    color: #5e5e5e;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 11px
}
.sheet-rq35-sorcery-spells input {
    margin-bottom: 5px;
}
/* sorcery-spells multiline display */
.sheet-rq35-sorcery-spells div.repcontrol {
    grid-column-start: 1;
    grid-column-end: span 10;
    padding: 10px 20px 5px 20px;
}
.charsheet .sheet-rq35-sorcery-spells div.repcontainer button {
    margin-left: auto;
    margin-right: auto;
    width: 16px;
    height: 21px;
}
.charsheet .sheet-rq35-sorcery-spells div.repcontainer input[type="checkbox"] {
    margin: auto !important;
    width: 45px;
}
